html, body {
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
    height: 100%;
}

button {
    color: inherit;
    background-color: transparent;
    font: inherit;
    padding: 10px 20px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color:  #90caf9;
}

.strikethrough {
    text-decoration: line-through;
}

.main {
    background-color: #f6f6f6;
    min-height: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.row {
    width: 600px;
    padding: 20px;
}

@media only screen and (max-width: 640px) {
    .row {
        width: calc(100% - 40px);
    }
}

.header {
    background-color: #90caf9;
    color: #ffffff;
    box-shadow: 0 0 20px #5d99c6
}

.validation-error {
    color: #b71c1c;
}